{% extends "layout.html" %}

{% block content %}
<h2>Создать рабочую смену - Страница 2</h2>

<form action="/create_2" method="POST">
    {{ data_form_add.hidden_tag() }}

    <div class="mb-3">
        <label class="form-label"><strong>Рабочие парки: </strong></label>
        <div id="work-parks-dropdown" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Выберите парки
            </button>
            <ul class="dropdown-menu" id="work-parks-list">
                {% for value, label in data_form_add.work_parks.choices %}
                <li class="d-flex column align-items-start">
                    <input type="checkbox" name="workparks" class="work-park-checkbox me-2" value="{{ value }}"> {{ label }}
                    <div class="d-flex ms-2">
                        <input type="number" name="work_time_hours {{ value }}" class="form-control work-hours me-1" placeholder="Часы" min="0" disabled>
                        <input type="number" name="work_time_minutes { value }}" class="form-control work-minutes" placeholder="Минуты" min="0" max="59" disabled>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label"><strong>Резервные пробеги: </strong></label>
        <div id="reserve-section-dropdown" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Выберите участки
            </button>
            <ul class="dropdown-menu" id="reserve-sections-list">
                {% for value, label in data_form_add.reserve_section.choices %}
                <li class="d-flex column align-items-start">
                    <input type="checkbox" name="reserve_section" class="reserve-section-checkbox me-2" value="{{ value }}"> {{ label }}
                    <div class="d-flex ms-2">
                        <input type="number" name="reserve_times_hours {{ value }}" class="form-control reserve-hours me-1" placeholder="Часы" min="0" disabled>
                        <input type="number" name="reserve_times_minutes {{ value }}" class="form-control reserve-minutes" placeholder="Минуты" min="0" max="59" disabled>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label"><strong>Дизельное топливо принял: </strong></label>
        {{ data_form_add.beginning_fuel_liters(class="form-control", required=True) }}
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Дизельное топливо сдал: </strong></label>
        {{ data_form_add.end_fuel_litres(class="form-control", required=True) }}
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Удельный вес топлива: </strong></label>
        {{ data_form_add.specific_weight(class="form-control", required=True) }}
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Экипировка: </strong></label>
        {{ data_form_add.add_fuel(class="form-control", required=False) }}
    </div>

    <button type="button" class="btn btn-secondary" onclick="history.back()">Назад</button>
    <input type="submit" class="btn btn-success" value="Создать смену">
</form>

<script src="../create_add_form.js"></script>

{% endblock %}
