{% extends "layout.html" %}

{% block content %}
<div class="content-wrapper">
    <h2>Создать рабочую смену</h2>

    <form action="/create" method="POST">
        <div class="mb-3">
            {{ data_form.hidden_tag() }}
            <label class="form-label"><strong>Дата:</strong></label>
            {{ data_form.date(class="form-control", required=True, type="data", autofocus=True) }}
            {% for error in data_form.date.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Номер маршрута: </strong></label>
            {{ data_form.route_number(class="form-control", required=True) }}
            {% for error in data_form.route_number.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Начало смены:</strong></label>
            {{ data_form.start_of_work(class="form-control", required=True) }}
            {% for error in data_form.start_of_work.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Окончание смены:</strong></label>
            {{ data_form.end_of_work(class="form-control", required=True) }}
            {% for error in data_form.end_of_work.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Тепловоз: ЧМЭ3 -</strong></label>
            {{ data_form.locomotive_number(class="form-control", required=True) }}
            {% for error in data_form.locomotive_number.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Выберите парки и простой:</strong></label>
            {{ data_form.activities(class="form-select", multiple=True) }}
            {% for error in data_form.activities.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Введите отработанные часы для выбранных пунктов (через пробел):</strong></label>
            {{ data_form.work_hours(class="form-control") }}
            {% for error in data_form.work_hours.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Дизельное топливо принял:</strong></label>
            {{ data_form.beginning_fuel_liters(class="form-control", required=True) }}
            {% for error in data_form.beginning_fuel_liters.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Дизельное топливо сдал:</strong></label>
            {{ data_form.end_fuel_litres(class="form-control", required=True) }}
            {% for error in data_form.end_fuel_litres.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Удельный вес топлива:</strong></label>
            {{ data_form.specific_weight(class="form-control", required=True) }}
            {% for error in data_form.specific_weight.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label"><strong>Экипировка:</strong></label>
            {{ data_form.add_fuel(class="form-control", required=False) }}
            {% for error in data_form.add_fuel.errors %}
                    <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-success" value="Создать">
    </form>
</div>
{% endblock %}
