{% extends "layout.html" %}

{% block content %}
<h2>Создать рабочую смену - Страница 2</h2>

<form action="/create_2" method="POST">
    {{ data_form_add.hidden_tag() }}

    <div class="mb-3">
        <div id="intervals-container">
            <div class="interval-block">
                <button type="button" class="btn btn-danger btn-sm remove interval" style="display: none;">x</button>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Маневровый участок</label>
                        <select class="form-control place-select" name="interval[0][place]" required>
                            <option value>Выберите маневровый район</option>
                            <option value="1">Парк "Л"</option>
                            <option value="2">Парк "Г"</option>
                            <option value="3">Парк "Е"</option>
                            <option value="4">Парк "З"</option>
                            <option value="4">Парк "Втормет"</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Время начала</label>
                        <input type="time" class="form-control start-time" name="interval[0][start_time]" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Время окончания</label>
                        <input type="time" class="form-control start-time" name="interval[0][end_time]" required>
                    </div>
                </div>
            </div>
        </div>
        <button id="add-interval" class="btn btn-success mt-2">Добавить участок/простой</button>
    </div>
    <div class="mb-3">
        <div id="intervals-container">
            <div class="interval-block">
                <button type="button" class="btn btn-danger btn-sm remove interval" style="display: none;">x</button>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label class="form-label">Резервный пробег</label>
                        <select class="form-control place-select" name="interval[0][place]" required>
                            <option value>Выберите участок резервного пробега</option>
                            <option value="1">Днепр - Нижнеднепровск</option>
                            <option value="2">Нижнеднепровск - Н.Д.Узел</option>
                            <option value="3">Н.Д.Узел - Лоцманка</option>
                            <option value="4">Лоцманка - Встречный</option>
                            <option value="4">Встречный - Днепр Грузовой</option>
                            <option value="4">Днепр Грузовой - Обводная</option>
                            <option value="4">Обводная - Сухачёвка</option>
                            <option value="4">Сухачёвка - Диёвка</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Время начала</label>
                        <input type="time" class="form-control start-time" name="interval[0][start_time]" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Время окончания</label>
                        <input type="time" class="form-control start-time" name="interval[0][end_time]" required>
                    </div>
                </div>
            </div>
        </div>
        <button id="add-interval" class="btn btn-success mt-2">Добавить участок</button>
    </div>

    <div class="mb-3">
        <label class="form-label"><strong>Дизельное топливо принял: </strong></label>
        {{ data_form_add.beginning_fuel_liters(class="form-control", required=True) }}
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Дизельное топливо сдал: </strong></label>
        {{ data_form_add.end_fuel_litres(class="form-control", required=True) }}
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Удельный вес топлива: </strong></label>
        {{ data_form_add.specific_weight(class="form-control", required=True) }}
    </div>
    <div class="mb-3">
        <label class="form-label"><strong>Экипировка: </strong></label>
        {{ data_form_add.add_fuel(class="form-control", required=False) }}
    </div>

    <button type="button" class="btn btn-secondary" onclick="history.back()">Назад</button>
    <input type="submit" class="btn btn-success" value="Создать смену">
</form>

<script src="../create_add_form.js"></script>

{% endblock %}
