{% extends "layout.html" %}

{% block content %}
{% if login_tab %}
    <div>
        <h2>Логин</h2>
        <form action="/login" method="POST">
            <div>
                {{ login_form.hidden_tag() }}
                <label class="form-label"><strong>Табельный номер:</strong></label>
                {{ login_form.personnel_number(class="form-control", required=True, autofocus=True) }}
            </div>
            <div>
                <label class="form-label"><strong>Пароль:</strong></label>
                {{ login_form.password(class="form-control", required=True) }}
            </div>
            <input type="submit" class="btn btn-primary btn-sm" value="Войти в систему">
        </form>
    </div>
{% endif %}

{% if register_tab %}
{% endif %}
{% endblock %}
